{% extends 'b.html' %}

{% block title %} Edit data {% endblock %}

{% block header %} Edit Data {% endblock %}

{% block body %}
    <!-- <a href="{{ url_for('Index') }}" class="btn btn-primary">Back</a> -->
    
    <div class="card-body">
            <form action="{{ url_for('text_edit') }}" method="POST">
                <div class="form-group">
                    <label for="english">English</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"></div>
                        </div>
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <textarea name="english" id="english" cols="200" rows="5" placeholder="Text Here" required="required">{{ data.english }}</textarea>

                    </div>
                </div>
                <div class="form-group">
                    <label for="meitei_mayek">Meitei Mayek</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"></div>
                        </div>
                        <textarea name="meitei_mayek" id="meitei_mayek" cols="200" rows="5" placeholder="Text Here" required="required">{{ data.meitei_mayek }}</textarea>
                    
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-sm" name="submit">Submit</button>
                    <button type="submit" class="btn btn-danger btn-sm" name="cancel">Cancel</button>
                </div>

            </form>
    </div>
    
{% endblock %}